.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #3071a9;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    color: white; 
    text-align: center; /* Align text and form to center */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Form styling */
  .center-form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
  }
  
  .center-form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
      .spinner-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9998;
      }
  
      .hide-spinner {
        display: none;
      }
  
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 9999;
      }
  
      .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #f4f4f4; /* Grey color for the footer */
      padding: 22px 0; /* Adjust the height of the grey bar as needed */
      text-align: center;
      color: #c1c0c0;
  }
  .navbar {
        position: -webkit-sticky; /* For Safari */
        position: sticky;
        top: 0;
        z-index: 1001;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #333;
        color: #fff;
        padding: 10px;
      }
  
  .sidebar {
        width: 240px;
        height: 100%;
        position: fixed;
        top: 50px;
        left: 0;
        background-color: #f2f2f2;
        overflow-x: hidden;
        padding-top: 20px;
      }
  
      .sidebar .heading {
        font-weight: bold;
        padding: 8px 16px;
        margin-bottom: 8px;
      }
  
      .sidebar .entry {
        padding: 8px;
        border: 1px solid #ccc;
        margin-bottom: 8px;
      }
  
      .sidebar a {
        display: block;
        color: black;
        text-decoration: none;
      }
  
      .sidebar a:hover {
        background-color: #ddd;
      }
  
      .container {
      margin-left: 280px;
      margin-right: 50px; 
      margin-top: 55px;
      min-height: 55px;
      width: calc(100% - 370px);
  }

  .entry {
    position: relative;
    padding-right: 20px;
}

.trash-icon {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.trash-icon:hover {
  transform: scale(1.5);
}

.refresh-icon {
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.refresh-icon:hover {
  transform: scale(1.5); 
}

.tooltip-text {
  visibility: hidden;
  width: 80px;
  min-height: 30px;
  max-height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Place tooltip above the icon */
  left: 50%;
  margin-left: -80px; /* -60px to adjust the tooltip horizontally */

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;

  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;

  font-size:45%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.refresh-icon:hover .tooltip-text {
  visibility: visible;
  opacity: .8;
}


.blue-background {
  background-color: blue;
}

.red-background {
  background-color: red;
}

.green-background {
  background-color: green;
}

#myChart {
  position: relative;
  top: -3%;
  transform: scale(0.9);  
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Assuming you want the container to cover the full viewport height */
  position: relative; /* This allows inner elements to be positioned relative to it */
}


.sticky-bar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 50px; /* This will stick it to the top of the viewport */
  z-index: 1000; /* Ensure it's above most other elements */
}
